@charset "utf-8";

/*div {
	background: silver;
	width: 200px;
	height: 200px;
	visibility: hidden;
}*/

/*div {
	background: silver;
	width: 200px;
	height: 200px;
}*/

span {
	background: silver;
	width: 200px;
	height: 200px;
}