@charset "utf-8";

div {
/*	width: 400px;
	height: 400px;
	border-image-source: url(border.png);
	border-image-width: 27px;
	border-image-slice: 27;
	border-image-repeat: round;*/

	width: 400px;
	height: 40px;
	border-image-source: url(button.png);
	border-image-width: 10px;
	border-image-slice: 10 fill;
}