@charset "utf-8";

@font-face {
	font-family: 'abc';
	src: url('BRUSHSCI.TTF');
}

p {
	font-size: 50px;
	/*font-size: xx-small;*/
	/*font-size: xx-large;*/
	/*font-variant: small-caps;*/
	/*font-style: italic;*/
	/*font-weight: bold;*/
	/*font-family: 微软雅黑,楷体,宋体;*/
	/*font: italic bold 50px 楷体;*/
	font-family: abc;
}