@charset "utf-8";

p {
	/*color: red;*/
	/*color: #ff0000;*/
	/*color: rgb(112, 128, 114);*/
	/*color: rgba(0, 128, 128, 0.5);*/
	/*color: hsl(120, 100%, 30%);*/
	/*color: hsla(120, 100%, 30%, 0.5);*/
	margin: 0;
	padding: 0;
	background-color: gray;
/*	font-size: 30px;
	height: 2em;*/
	font-size: 20px;
	/*height: 50px;*/
	width: 50%;
}